{% extends "./base.html" %}
{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'fileanalyzer/css/charts.min.css' %}">
{% endblock %}

{% block content %}
    <table class="table">

        <caption>{{ chart_title }}</caption>
    
        <thead>
            <tr>
            <th scope="col" class="scale-title"> File name </th>
            <th scope="col" class="value-title"> Resolution </th>
            </tr>
        </thead>
    
        <tbody>
            {% for file_info in top_images_by_res %}
                <tr>
                <th class="file-name"> {{ file_info.name }} </th>
                <td class="file-size">{{ file_info.width }} x {{ file_info.height }}</td>
                </tr>
            {% endfor %}
        </tbody>
    
        </table>
{% endblock %}